/*
 * Copyright (c) 2019 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&zephyr_udc0 {
	hp_0 {
		compatible = "usb-audio-hp";
		feature-mute;
		feature-volume;
		channel-l;
		channel-r;
	};
};

&i2c0 {
	status="okay";

	nau8325: nau8325@21 {
		compatible = "nuvoton,nau8325";
		reg = <0x21>;
	};
};

&i2s0 {
	status="okay";
};
