# rumblepack BT40 nRF5340 Multicore board configuration

# Copyright (c) 2019 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_RUMBLEPACK_BT40_NRF5340_MULTICORE
	select SOC_NRF5340_CPUAPP_QKAA if BOARD_RUMBLEPACK_BT40_NRF5340_MULTICORE_NRF5340_CPUAPP
	select SOC_NRF5340_CPUAPP_QKAA if BOARD_RUMBLEPACK_BT40_NRF5340_MULTICORE_NRF5340_CPUAPP_NS
	select SOC_NRF5340_CPUNET_QKAA if BOARD_RUMBLEPACK_BT40_NRF5340_MULTICORE_NRF5340_CPUNET
